p {margin-left:20px; 
	font-size: 80px;
	color:rgb(112,0,0);
	font-style: italic;
	font-family: Georgia;}

/*.btn-group-vertical{
	vertical-align: center;
}*/

.splash{
	top:150px;	
}

#submitHome{
	background-color:yellow;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.hope{
	height: 50px}
}

button{
	float:none;
	margin-left: 5px;
	margin-right: 5px;
}

body {
	background-image:url("sandrig.png");
	background-repeat:no-repeat;
	background-position: top;
}